.DS_Store
.DS_Store?
**/.DS_Store
._*
.Spotlight-V100
.Trashes
.Rhistory
.Bin
node_modules/
node_modules/*
!data/*
!data/**/config.js
data/**/data/*
data/**/apps/*
data/**/images/*
data/**/themes/*
!data/**/config.js
data/**/data/*
