nginx:
  image: nginx
  container_name: nginx
  ports:
    - "80:80"
    - "443:443"
  volumes:
    - "/etc/nginx/conf.d"
    - "/etc/nginx/vhost.d"
    - "/usr/share/nginx/html"
    - "/etc/nginx/certs:/etc/nginx/certs:ro"
nginx-gen:
  image: jwilder/docker-gen
  container_name: nginx-gen
  volumes:
    - "/var/run/docker.sock:/tmp/docker.sock:ro"
    - "./static-sites/proxy/nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro"
  volumes_from:
    - nginx
  entrypoint: /usr/local/bin/docker-gen -notify-sighup nginx -watch -only-exposed -wait 5s:30s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
letsencrypt-nginx-proxy-companion:
  image: jrcs/letsencrypt-nginx-proxy-companion
  container_name: letsencrypt-nginx-proxy-companion
  volumes_from:
    - nginx
  volumes:
    - "/var/run/docker.sock:/var/run/docker.sock:ro"
    - "/etc/nginx/certs:/etc/nginx/certs:rw"
  environment:
    - NGINX_DOCKER_GEN_CONTAINER=nginx-gen
simple-site:
  image: nginx
  container_name: simple-site
  volumes:
    - ./static-sites/www_willdearman_com/conf.d:/etc/nginx/conf.d:ro
    - ./static-sites/www_willdearman_com/html:/usr/share/nginx/html:ro
  environment:
    - VIRTUAL_HOST=www.willdearman.com
    - LETSENCRYPT_HOST=www.willdearman.com
    - LETSENCRYPT_EMAIL=will@willdearman.com
blog_willdearman_com:
    # Official Ghost image for Docker
  image: ghost
  container_name: blog_willdearman_com
  # Restarting our blog if it crashes
  restart: always
  # Our blog will have persistent data, so we store that
  #   in a folder created at 'blog/data/ghost'
  volumes:
    - ./data/blog_willdearman_com:/var/lib/ghost:rw
  # We'll also let Ghost know that we are in production
  environment:
    - PROD_DOMAIN=https://blog.willdearman.com
    - NODE_ENV=production
    - VIRTUAL_HOST=blog.willdearman.com
    - LETSENCRYPT_HOST=blog.willdearman.com
    - LETSENCRYPT_EMAIL="will@willdearman.com"
    expose:
      - "2368"